<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{{ titulo }}</title>
</head>
<body>
    <form action="/" method="POST">
        <h1> Formulário Pessoa </h1>

        <label id="nome" name="lNome"> Nome: </label>
        <input type="text" id="tNome" name="tNovoNome" placeholder="Informe seu nome: "/><br><br>

        <label id="telefone" name="lTelefone"> Telefone: </label>
        <input type="text" id="tTelefone" name="tNovoTelefone" placeholder="(11) 99999-9999"/><br><br>

        <label id="endereco" name="lEndereco"> Endereço: </label>
        <input type="text" id="tEndereco" name="tNovoEndereco" placeholder="Informe seu endereço: "/><br><br>

        <label id="data" name="lData"> Data de Nascimento: </label>
        <input type="date" id="tData" name="tNovaData" /><br><br>

        <button type="submit"> Cadastrar </button>
    </form>
    <br/>
    <form action="/consultar.html" method="POST">
         <button type="submit"> Consultar </button>
    </form>
    <br/>
    <a href="consultarCodigo.html"><button type="submit"> Consultar por Código </button></a>

    <h6><br>{{ resultado }}</h6>
</body>
</html>